<!DOCTYPE html>
<html>
<head>
    <title>Owner Dashboard</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<section class="dashboard-section">
    <div class="container-fluid px-3">

        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2 class="section-title">
🦅 Garud Zep Gym
<br>
<span style="font-size:18px;color:#bbb;">
Owner Dashboard
</span>
</h2>
            <a href="{{ url_for('home') }}"
class="main-btn">
Back Home
</a>
<a href="{{ url_for('owner_logout') }}"
class="btn btn-danger">
Logout
</a>
<a href="{{ url_for('change_password') }}"
class="btn btn-warning">

Change Password

</a>

<a href="{{ url_for('backup') }}"
class="main-btn">
Backup
</a>

<a href="{{ url_for('plans') }}"
class="main-btn">
Plans
</a>
            <a href="{{ url_for('attendance') }}" class="main-btn">
    Attendance
</a>
        </div>

        <div class="row g-4 mt-4">
            <div class="col-md-3">
    <div class="dashboard-card">
        <h3>{{ today_attendance_count }}</h3>
        <p>Today's Attendance</p>
    </div>
</div>
<div class="col-md-3">
    <div class="dashboard-card">
        <h3>₹{{ weekly_collection }}</h3>

<p>Monthly Collection</p>

<form method="GET">

<select
name="month"
class="form-control mt-2"
onchange="this.form.submit()">

<option value="">
Select Month
</option>

{% for m in range(1,13) %}

<option
value="{{m}}"

{% if selected_month==m %}
selected
{% endif %}>

{{m}}

</option>

{% endfor %}

</select>

</form>
    </div>
</div>


</div>
            <div class="col-md-3">
                <div class="dashboard-card">
                    <h3>{{ total_members }}</h3>
                    <p>Total Members</p>
                </div>
            </div>

            

            <div class="col-md-3">
                <div class="dashboard-card">
                    <h3>
<a href="{{ url_for('pending_members') }}"
style="color:white;text-decoration:none;">
{{ pending_fees }}
</a>
</h3>

<p>Pending Fees</p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="dashboard-card">
                   <h3>{{ expiry_alerts }}</h3>
<p>Expiry Alerts</p>
                </div>
            </div>

        </div>
        <div class="dashboard-table mt-4">

<h3>

Collection Filter

</h3>

<form method="GET"
class="row g-2">

<div class="col-md-4">

<input
type="date"

name="start_date"

class="form-control"

value="{{start_date}}">

</div>

<div class="col-md-4">

<input
type="date"

name="end_date"

class="form-control"

value="{{end_date}}">

</div>

<div class="col-md-4">

<button
class="btn btn-warning w-100">

Search

</button>

</div>

</form>

{% if filtered_collection is not none %}

<div class="alert alert-success mt-3">

₹{{filtered_collection}}

</div>

{% endif %}

</div>


{% if expiring_members %}

<div class="alert alert-warning mt-4">

<h4>⚠️ Membership Expiry Alerts</h4>

{% for member in expiring_members %}

<p>

<strong>{{ member.name }}</strong>

membership expires on

<strong>{{ member.expiry_date }}</strong>

</p>

{% endfor %}

</div>

{% endif %}

<div class="dashboard-table mt-5">
            <h3 class="mb-4">Registered Members</h3>
            <input
type="text"
id="searchMember"
class="form-control mb-3"
placeholder="Search by Name, Phone or Plan">
<div class="table-responsive">
            <table class="table table-dark table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Gym No</th>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Age</th>
                        <th>Plan</th>
                        
                        <th>Join Date</th>
                        <th>Expiry Date</th>
                        <th>Cash</th>
                        <th>Online</th>
                        <th>Total Paid</th>
                        <th>Remaining</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
{% for member in members %}

<tr class="
{% if member.expiry_date and member.expiry_date < current_date %}
pending-row

{% elif member.payment_status == 'Partial' %}
partial-row

{% elif member.payment_status == 'Pending' %}
pending-row

{% endif %}
">

    <td>{{ member.gym_number }}</td>
    <td>{{ member.name }}</td>
    <td>{{ member.phone }}</td>
    <td>{{ member.age }}</td>
    <td>{{ member.plan }}</td>
    
    <td>{{ member.join_date }}</td>
    <td>{{ member.expiry_date }}</td>
    <td>₹{{ member.cash_paid }}</td>
<td>₹{{ member.online_paid }}</td>
<td>₹{{ member.paid_amount }}</td>
<td>₹{{ member.remaining_amount }}</td>

    <td>

{% if member.expiry_date and member.expiry_date <= current_date %}

<span class="badge bg-danger">
Expired
</span>

{% elif member.payment_status == "Paid" %}

<span class="badge bg-success">
Paid
</span>

{% elif member.payment_status == "Partial" %}

<span class="badge bg-info">
Partial
</span>

{% else %}

<span class="badge bg-danger">
Pending
</span>

{% endif %}

</td>

    <td class="action-cell">
        <a
href="https://wa.me/91{{ member.phone }}?text=Hello%20{{ member.name }},%0A%0AYour%20Gym%20Payment%20Receipt%0A%0APlan:%20{{ member.plan }}%0ATotal%20Paid:%20₹{{ member.paid_amount }}%0ARemaining:%20₹{{ member.remaining_amount }}%0AExpiry:%20{{ member.expiry_date }}%0A%0AThank%20You!%0AGarud%20Zep%20Gym"
target="_blank"
class="btn btn-success btn-sm mb-1">

Receipt

</a>
        <a href="{{ url_for('edit_member', id=member.id) }}"
   class="btn btn-primary btn-sm mb-1">
   Edit
</a>
{% if member.remaining_amount > 0 %}

<form
action="{{ url_for('mark_paid', id=member.id) }}"
method="POST">

<button
class="btn btn-success btn-sm mb-2">

Mark Paid

</button>

</form>

{% endif %}
        {% if member.payment_status != "Paid" %}

<form action="{{ url_for('partial_payment', id=member.id) }}"
      method="POST"
      class="payment-form mb-2">

    <input type="number"
       name="cash_amount"
       class="form-control form-control-sm payment-input mb-1"
       placeholder="Cash ₹"
       min="0">
       

    <input type="number"
       name="online_amount"
       class="form-control form-control-sm payment-input mb-1"
       placeholder="Online ₹"
       min="0"
       >

    <button class="btn btn-info btn-sm w-100">
        Add
    </button>

</form>

{% endif %}
        

        

        

        {% if member.expiry_date and member.expiry_date <= current_date %}
<a href="{{ url_for('edit_member', id=member.id, renew=1) }}"
   class="btn btn-warning btn-sm">
   Renew
</a>
{% endif %}

        {% if member.is_active %}

<a href="{{ url_for('deactivate_member', id=member.id) }}"
   class="btn btn-outline-warning btn-sm"
   onclick="return confirm('Deactivate this member?')">
   Deactivate
</a>

{% else %}

<a href="{{ url_for('activate_member', id=member.id) }}"
   class="btn btn-success btn-sm">
   Activate
</a>

{% endif %}
    </td>

</tr>

{% else %}

<tr>
    <td colspan="14" class="text-center">
        No members registered yet.
    </td>
</tr>

{% endfor %}
</tbody>
                
            </table>
        </div>
        </div>
    </div>
</section>


<script>

document.getElementById("searchMember")
.addEventListener("keyup", function(){

let value = this.value.toLowerCase();

document.querySelectorAll("tbody tr")
.forEach(function(row){

row.style.display =
row.innerText.toLowerCase().includes(value)
? ""
: "none";

});

});

</script>

</body>

</html>